*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  overflow: hidden;
overflow-y: scroll;
font-family:Bwnistagrot bd,sans-serif;

}

/* "devDependencies": {
  "gh-pages": "^6.1.1"
} */